@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-repeat: no-repeat;
  font-family: "Manrope", sans-serif;
}

html {
  scroll-behavior: smooth;
}
@media (max-height: 800px) and (min-height: 700px) and (min-width: 600px) {
  html {
    font-size: 14px;
  }
}
@media (max-height: 700px) and (min-width: 600px) {
  html {
    font-size: 12px;
  }
}

img {
  user-drag: none;
  -webkit-user-drag: none;
}

body {
  background-color: #F9F9F9;
  overflow: hidden;
}

h1 {
  color: #131313;
  position: absolute;
  height: fit-content !important;
  bottom: 10vh;
  right: 3vw;
  font-family: "Afacad Flux", sans-serif;
  padding: 0 !important;
}
@media (min-width: 600px) and (max-width: 1230px) {
  h1 {
    right: auto;
    left: 0;
    bottom: 0;
    width: 70%;
  }
}
@media (max-width: 600px) {
  h1 {
    right: auto;
    left: 0;
    bottom: 0;
    width: 70%;
    font-size: clamp(1.375rem, 0.255rem + 5.6vw, 2.25rem);
  }
}

.loader-div {
  position: fixed;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  background-color: #F9F9F9;
  z-index: 100;
  opacity: 1;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  transition: 1s ease-in-out;
}
.loader-div img {
  width: 10%;
}

@media (hover: none) {
  .nav-menu__buttons a {
    cursor: default;
  }
}
#loader {
  width: 40%;
  height: 40%;
}

.loaded {
  pointer-events: none;
  opacity: 0;
}

.container {
  position: relative;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
.container > * {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  max-width: 100%;
  width: 100vw;
  height: 100vh;
}

.nav-menu {
  max-width: 100%;
  max-height: 100%;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  border: 80px solid #F9F9F9;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s;
}
@media (max-width: 900px) {
  .nav-menu {
    border: 45px solid #F9F9F9;
  }
}
.nav-menu::before {
  content: "";
  position: absolute;
  width: calc(100% + 80px);
  height: calc(100% + 80px);
  top: -40px;
  left: -40px;
  border: 1px solid #131313;
}
@media (max-width: 900px) {
  .nav-menu::before {
    content: "";
    position: absolute;
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    top: -20px;
    left: -20px;
    border: 1px solid #131313;
  }
}
.nav-menu__buttons {
  position: absolute;
  bottom: -52.5px;
  font-size: clamp(0.95rem, 0.664rem + 1.429vw, 1.2rem);
  z-index: 3;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  list-style: none;
  gap: 35px;
  color: #131313;
}
@media (max-width: 900px) {
  .nav-menu__buttons {
    bottom: -32.5px;
    gap: 15px;
  }
}
.nav-menu__buttons a {
  padding: 0 25px;
  color: inherit;
  background-color: #F9F9F9;
  text-decoration: none;
}
@media (min-width: 900px) {
  .nav-menu__buttons a:hover {
    color: #696969;
  }
}
@media (max-width: 600px) {
  .nav-menu__buttons a {
    padding: 0 15px;
  }
}
@media (max-width: 570px) {
  #banner .nav-menu__buttons {
    position: fixed;
    bottom: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #F9F9F9;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease-in-out;
    font-size: 1.3em;
  }
  #banner .nav-menu__buttons.active {
    opacity: 1;
    pointer-events: all;
  }
}
.nav-menu.lazy {
  display: none;
}
.nav-menu__title {
  font-size: 1.2em;
  position: absolute;
  top: -54px;
  background-color: #F9F9F9;
  padding: 0 25px;
  z-index: 3;
}
@media (max-width: 900px) {
  .nav-menu__title {
    top: -32px;
  }
}
.nav-menu__contact {
  border: 80px solid #131313;
}
@media (max-width: 900px) {
  .nav-menu__contact {
    border: 45px solid #131313;
  }
}
.nav-menu__contact::before {
  border: 1px solid #F9F9F9;
}
@media (max-width: 900px) {
  .nav-menu__contact::before {
    content: "";
    position: absolute;
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    top: -20px;
    left: -20px;
    border: 1px solid #F9F9F9;
  }
}
.nav-menu__contact a {
  color: #F9F9F9;
  background-color: #131313;
}
.nav-menu__contact a:hover {
  color: #c5c5c5;
}
.nav-menu__contact .nav-menu__title {
  color: #F9F9F9;
  background-color: #131313;
}
.nav-menu #flecha-der {
  position: absolute;
  right: -55px;
  top: calc(50% - 40px);
  z-index: 2;
  background-color: #F9F9F9;
  padding: 25px 0;
  width: 24px;
  height: auto;
  cursor: pointer;
}
@media (max-width: 900px) {
  .nav-menu #flecha-der {
    right: -35px;
    top: calc(50% - 60px);
  }
}
.nav-menu #flecha-izq {
  position: absolute;
  left: -55px;
  top: calc(50% - 40px);
  z-index: 2;
  background-color: #F9F9F9;
  padding: 25px 0;
  width: 24px;
  height: auto;
  transform: rotate(180deg);
  cursor: pointer;
}
@media (max-width: 900px) {
  .nav-menu #flecha-izq {
    left: -35px;
    top: calc(50% - 60px);
  }
}

#popup-open {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.5em;
  height: 4em;
  width: 4em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  border: 0.1px solid rgba(19, 19, 19, 0.1019607843);
  z-index: 1;
}
#popup-open svg {
  width: 2em;
}

#popup-close {
  position: absolute;
  top: 15%;
  right: 15%;
  padding: 0.5em;
  height: 2.8em;
  width: 2.8em;
  z-index: 1;
}

@media (min-width: 570px) {
  #popup-close, #popup-open {
    display: none;
  }
}
.contenido {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
@media (max-width: 600px) {
  .contenido > :not(.contenido__projects) {
    padding: 20px 0;
  }
}
.contenido > * {
  overflow-y: auto;
  height: 100%;
}
.contenido__contact {
  background-color: #131313;
  overflow: auto;
}
#banner .contenido {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#banner .contenido #animacion {
  width: 90%;
  height: 90%;
  object-fit: contain;
  overflow: hidden;
}
@media (max-width: 900px) {
  #banner .contenido #animacion {
    width: 100%;
    height: 100%;
  }
}
#about .contenido {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}
@media (max-width: 900px) {
  #about .contenido {
    overflow-y: auto;
  }
}
@media (min-width: 600px) and (max-width: 900px) {
  #about .contenido {
    padding: 20px 0;
  }
}
@media (max-width: 600px) {
  #about .contenido {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
}
#skills .contenido {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#skills .contenido__skills {
  display: grid;
  width: 100%;
  height: 100%;
  max-height: 600px;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}
@media (min-width: 600px) and (max-width: 1280px) {
  #skills .contenido__skills {
    grid-template-columns: repeat(2, 1fr);
    max-height: clamp(40.625rem, 21.875rem + 50vw, 50rem);
    font-size: clamp(0.65rem, -0.05rem + 1.867vw, 1rem);
    gap: 25px;
    grid-template-rows: min-content;
    padding: 0;
  }
  #skills .contenido__skills .herramientas {
    gap: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: span 2;
  }
  #skills .contenido__skills .herramientas__habilidades {
    margin-top: 0;
  }
}
@media (max-width: 600px) {
  #skills .contenido__skills {
    grid-template-columns: 100%;
    max-height: 100%;
    font-size: clamp(0.7rem, 0.471rem + 1.143vw, 0.9rem);
  }
}
#skills .contenido__skills > * {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
#projects .contenido__projects {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  scroll-behavior: smooth;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  position: relative;
  overflow-y: hidden;
  /* Internet Explorer y Edge */
}
@media (max-width: 600px) {
  #projects .contenido__projects {
    overflow-y: auto;
    align-items: flex-start;
  }
}
#projects .contenido__projects::-webkit-scrollbar {
  display: none;
  /* Safari y Chrome */
}

.redes-banner {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: 0;
  gap: 20px;
  height: auto;
}
@media (max-width: 610px) {
  .redes-banner {
    padding: 0 15px 15px 0;
    bottom: auto;
    top: 0;
  }
}
.redes-banner__ind {
  fill: #131313;
  width: 4.7em;
  height: 4.7em;
  cursor: pointer;
}
@media (max-width: 610px) {
  .redes-banner__ind {
    width: clamp(3rem, 1.857rem + 5.714vw, 4rem);
    height: clamp(3rem, 1.857rem + 5.714vw, 4rem);
  }
}
.redes-banner__ind:hover {
  fill: #292929;
}

.card-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}
@media (max-width: 900px) {
  .card-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    max-height: 37.5em;
    flex: 0 0 auto;
    overflow: auto;
  }
}
@media (min-width: 600px) and (max-width: 900px) {
  .card-container {
    font-size: clamp(0.7rem, 0.1rem + 1.6vw, 0.9rem);
  }
}
@media (max-width: 600px) {
  .card-container {
    max-height: 40em;
    font-size: 0.6em;
  }
  .card-container img {
    font-size: clamp(0.3rem, -1.1rem + 7vw, 0.65rem);
  }
}

.card {
  position: relative;
  width: 37.5em;
  height: 18.75em;
}
@media (max-width: 600px) {
  .card {
    width: 100%;
    max-width: 37.5em;
    height: 50%;
  }
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  overflow: hidden;
  transition: 0.7s;
  border-radius: 5px;
}
@media (max-width: 900px) {
  .face {
    backface-visibility: visible;
  }
}

.front {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  transform: perspective(600px) rotateY(0deg);
  width: 100%;
  height: 100%;
  background: url("../img/texture.webp");
  border: 1px solid rgba(19, 19, 19, 0.1764705882);
  padding: 15px;
  gap: 15px;
  z-index: 2;
}
.front__img {
  max-width: 13em;
  border: 2px solid rgba(19, 19, 19, 0.1764705882);
  border-radius: 5px;
}
.front__texto {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
.front__texto__text {
  font-family: "Roboto Mono", monospace;
}
.front__texto__text b {
  font-family: "Roboto Mono", monospace;
}
.front__texto__indentity {
  position: absolute;
  bottom: 5px;
  right: 0;
  font-size: 1.5em;
  transform: rotate(-5deg);
  font-weight: 600;
  color: rgba(0, 0, 0, 0.0470588235);
  font-family: "Roboto Mono", monospace;
  pointer-events: none;
}
@media (max-width: 900px) {
  .front {
    transform: none;
  }
}

.back {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  transform: perspective(600px) rotateY(180deg);
  padding: 15px;
  background-color: #131313;
}
.back__texto {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
.back__texto a {
  text-decoration: none;
  color: #F9F9F9;
}
.back__texto__text {
  color: #F9F9F9;
  font-family: "Roboto Mono", monospace;
}
.back__texto__text b {
  color: #F9F9F9;
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
}
.back__texto__button {
  margin-top: 0.625em;
  background-color: #333333;
  font-family: "Roboto Mono", monospace;
  width: 100%;
  padding: 0.625em 0;
  text-align: center;
  border: 0.3px solid #F9F9F9;
  border-radius: 5px;
}
.back__texto__button:hover {
  background-color: #424242;
}
@media (max-width: 600px) {
  .back__texto__button {
    margin-top: 0;
    font-size: 1.1em;
  }
}
@media (max-width: 900px) {
  .back__texto {
    transform: rotateX(180deg);
  }
}
.back__img {
  max-width: 5.125em;
}
@media (max-width: 900px) {
  .back__img {
    transform: rotateX(180deg);
  }
}
@media (max-width: 900px) {
  .back {
    transform: rotateX(0deg);
  }
}

@media (min-width: 900px) {
  .card:hover .front {
    transform: perspective(600px) rotateY(180deg);
  }
}

@media (min-width: 900px) {
  .card:hover .back {
    transform: perspective(600px) rotateY(360deg);
  }
}

.about-descripcion {
  font-size: 1.2em;
  width: 100%;
  height: 50%;
  align-self: flex-start;
  padding: 0 clamp(0rem, -20.833rem + 27.778vw, 12.5rem);
}
@media (max-width: 900px) {
  .about-descripcion {
    flex: 0 0 max-content;
  }
}
@media (max-width: 600px) {
  .about-descripcion {
    font-size: 0.9rem;
  }
}

.visible {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform-origin: bottom;
  transition: transform 1.5s; /* Ajusta la duración de la transición aquí */
  transform: rotateX(180deg);
}

.formacion__individual {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  background-color: #f5f5f5;
  border: 0.5px solid #131313;
  width: 100%;
  max-height: 135px;
  padding: 1.56em 0.93em;
  gap: 15px;
  color: #131313;
  text-decoration: none;
}
.formacion__individual__img {
  width: 100%;
  max-width: 4.6em;
  object-fit: contain;
}
@media (max-width: 600px) {
  .formacion__individual__img {
    margin: 0 10px;
  }
}
.formacion__individual__desc {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}
@media (min-width: 900px) {
  .formacion__individual {
    cursor: pointer;
  }
  .formacion__individual:hover {
    background-color: #eeeeee;
  }
}
.formacion__idiomas {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  margin-top: 15px;
}
.formacion__idiomas__individuales {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.experiencia__individual {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  margin-bottom: 30px;
}
.experiencia__individual ul {
  display: flex;
  justify-content: inherit;
  flex-direction: inherit;
  align-items: inherit;
  gap: inherit;
}
.experiencia__individual ul li {
  margin-left: 2em;
  font-size: 0.9em;
}
@media (max-width: 600px) {
  .experiencia__individual ul li {
    font-size: 0.95em;
  }
}

.herramientas__section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  width: 100%;
}
.herramientas__lista {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(2, 50%));
  list-style: none;
  width: 100%;
  font-size: 0.9em;
  grid-auto-rows: auto;
  gap: 20px;
}
@media (max-width: 600px) {
  .herramientas__lista {
    font-size: 0.95em;
  }
}
.herramientas__lista > :nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}
.herramientas__lista > :nth-child(2) {
  grid-column: 1;
  grid-row: 2;
}
.herramientas__lista > :nth-child(3) {
  grid-column: 1;
  grid-row: 3;
}
.herramientas__lista > :nth-child(4) {
  grid-column: 1;
  grid-row: 4;
}
.herramientas__lista > :nth-child(5) {
  grid-column: 2;
  grid-row: 1;
}
.herramientas__lista > :nth-child(6) {
  grid-column: 2;
  grid-row: 2;
}
.herramientas__lista > :nth-child(7) {
  grid-column: 2;
  grid-row: 3;
}
.herramientas__lista > :nth-child(8) {
  grid-column: 2;
  grid-row: 4;
}
.herramientas__lista li {
  display: flex;
  justify-content: flex-start;
  flex-direction: inherit;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  width: 100%;
}
.herramientas__lista__img {
  width: 100%;
  max-width: 2.5em;
  height: auto;
  object-fit: contain;
}
.herramientas__habilidades {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 15px;
  margin-top: 15px;
}
@media (max-width: 600px) {
  .herramientas__habilidades {
    margin-top: 40px;
  }
}
.herramientas__habilidades__lista {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(2, 50%));
  list-style: none;
  width: 100%;
  font-size: 0.9em;
  grid-auto-rows: auto;
  gap: 20px;
}
@media (max-width: 600px) {
  .herramientas__habilidades__lista {
    font-size: 0.95em;
  }
}
.herramientas__habilidades__lista > :nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}
.herramientas__habilidades__lista > :nth-child(2) {
  grid-column: 1;
  grid-row: 2;
}
.herramientas__habilidades__lista > :nth-child(3) {
  grid-column: 1;
  grid-row: 3;
}
.herramientas__habilidades__lista > :nth-child(4) {
  grid-column: 1;
  grid-row: 4;
}
.herramientas__habilidades__lista > :nth-child(5) {
  grid-column: 2;
  grid-row: 1;
}
.herramientas__habilidades__lista > :nth-child(6) {
  grid-column: 2;
  grid-row: 2;
}
.herramientas__habilidades__lista > :nth-child(7) {
  grid-column: 2;
  grid-row: 3;
}
.herramientas__habilidades__lista > :nth-child(8) {
  grid-column: 2;
  grid-row: 4;
}
.herramientas__habilidades__lista li {
  display: flex;
  justify-content: flex-start;
  flex-direction: inherit;
  align-items: center;
  gap: 10px;
  font-weight: 500;
}
.herramientas__habilidades__lista__img {
  width: 100%;
  max-width: 2.5em;
  height: auto;
  object-fit: contain;
}

#popup-skill {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.97);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#popup-skill.active {
  display: flex;
}

#popup-image-skill {
  max-width: 85%;
  max-height: 90%;
  cursor: pointer;
}
@media (max-width: 600px) {
  #popup-image-skill {
    max-height: 80%;
    max-width: 95%;
  }
}

#popup-image-skill.slide-in-left {
  transform: translateX(-100%);
  opacity: 0;
}

#popup-image-skill.slide-in-right {
  transform: translateX(100%);
  opacity: 0;
}

#popup-image-skill.active {
  transform: translateX(0);
  opacity: 1;
}

.popup-close-skill {
  position: absolute;
  filter: brightness(0) saturate(100%) invert(99%) sepia(98%) saturate(38%) hue-rotate(269deg) brightness(109%) contrast(95%);
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  top: 50px;
  right: 30px;
  width: 35px;
}
@media (max-width: 600px) {
  .popup-close-skill {
    top: 30px;
    width: 30px;
  }
}

.project {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  align-content: space-evenly;
  padding: 20px 40px;
  width: 100%;
  height: 100%;
  max-height: 1000px;
  color: #F9F9F9;
  display: grid;
  flex-shrink: 0;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: max-content;
  grid-template-areas: "title title title imgproject imgproject imgproject" "buttons buttons buttons imgproject imgproject imgproject" "descripcion descripcion descripcion imgproject imgproject imgproject" "typography colores colores imgproject imgproject imgproject" "styletile styletile styletile gallery gallery gallery";
  gap: 15px;
  z-index: 2;
  position: relative;
}
@media (min-width: 600px) {
  .project:not(:has(.project__buttons)) .project__description {
    grid-area: buttons;
  }
}
.project h2 {
  font-size: 2.8em;
  font-weight: 600;
}
.project h3 {
  font-size: 1.2em;
  font-weight: 300;
}
.project h4 {
  font-size: 1.3em;
  font-weight: 500;
}
.project > * {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}
.project__title {
  grid-area: title;
  gap: 0;
}
.project__buttons {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  grid-area: buttons;
  z-index: 2;
}
.project__buttons a {
  text-decoration: none;
  color: #131313;
  height: 3.12em;
  padding: 0 20px;
  font-weight: 600;
  background-color: #F9F9F9;
  border: 3px solid #131313;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.project__buttons a .sourcecode {
  width: 2.5em;
  height: 2.5em;
}
.project__buttons a .demo {
  width: 2em;
  height: 2em;
}
.project__buttons a .figma-draft {
  width: 1.5em;
  height: 1.5em;
  margin-right: 5px;
}
.project__buttons a:hover {
  background-color: #e0e0e0;
}
@media (min-width: 600px) and (max-width: 900px) {
  .project__buttons a {
    padding: 0 clamp(0.313rem, -0.313rem + 1.667vw, 0.625rem);
  }
}
@media (max-width: 600px) {
  .project__buttons > :first-child {
    width: 100%;
    padding: 0 10px;
  }
}
@media (max-width: 600px) {
  .project__buttons > :last-child {
    width: max-content;
    padding: 0 15px;
  }
}
@media (max-width: 600px) {
  .project__buttons .figma-button {
    padding: 0 25px;
  }
}
@media (max-width: 600px) {
  .project__buttons {
    gap: 5px;
  }
}
.project__description {
  grid-area: descripcion;
}
@media (max-width: 600px) {
  .project__description {
    padding-bottom: 35px;
  }
}
.project__description a {
  color: #F9F9F9;
  text-decoration: none;
  font-weight: 700;
}
.project__description a:hover {
  color: #e0e0e0;
}
.project__typography {
  gap: 20px;
  grid-area: typography;
}
@media (max-width: 600px) {
  .project__typography {
    margin-top: -25px;
  }
}
.project__color {
  grid-area: colores;
  gap: 15px;
}
.project__color__seccion {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  gap: 10px 25px;
}
@media (max-width: 600px) {
  .project__color__seccion {
    grid-template-columns: repeat(3, min-content);
    justify-content: space-between;
    justify-items: stretch;
    width: 100%;
    gap: 25px;
  }
}
.project__style-tile {
  gap: 15px;
  grid-area: styletile;
}
.project__img {
  grid-area: imgproject;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 100%;
  padding: 10px;
}
.project__img__portrait {
  object-fit: contain;
  max-width: inherit;
}
@media (min-width: 600px) and (max-width: 900px) {
  .project__img {
    padding: 0;
  }
  .project__img__portrait {
    object-fit: cover;
  }
}
@media (max-width: 600px) {
  .project__img {
    margin-top: -25px;
  }
}
.project__gallery {
  grid-area: gallery;
  gap: 15px;
}
.project::before {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  height: 400%;
  width: 100%;
  z-index: -1;
  pointer-events: none;
}
@media (max-height: clamp(37.5rem, 0rem + 100vw, 56.25rem)) {
  .project::before {
    top: 0;
    height: 100%;
  }
}
@media (max-width: 600px) {
  .project::before {
    display: none;
  }
}
.project__bbracing-webapp::before {
  background: linear-gradient(to right, #181818, #474747);
}
.project__boxedcat::before {
  background: linear-gradient(to right, #192A3D, #451B15);
}
.project__frenetic-comics::before {
  background: linear-gradient(to right, #0F0F0F 60%, #A3847E 100%);
}
.project__sodastereo-fanpage::before {
  background: linear-gradient(to right, #181818 50%, #656565 100%);
}
.project__bbracing-iframe::before {
  background: linear-gradient(to right, #181818 50%, #656565 100%);
}
.project__kz-group::before {
  background: linear-gradient(to right, #181818 50%, #656565 100%);
}
@media (max-height: 900px) and (min-height: 700px) and (min-width: 600px) {
  .project {
    font-size: 0.9rem;
  }
}
@media (max-height: 700px) and (min-width: 600px) {
  .project {
    font-size: 0.8rem;
  }
}
@media (min-width: 600px) and (max-width: 900px) {
  .project {
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "title title title title title" "buttons buttons imgproject imgproject imgproject" "descripcion descripcion imgproject imgproject imgproject" "typography typography colores colores colores" "styletile styletile gallery gallery gallery";
    font-size: clamp(0.6rem, 0.2rem + 1.067vw, 0.8rem);
    max-height: clamp(37.5rem, 0rem + 100vw, 56.25rem);
  }
}
@media (max-width: 600px) {
  .project {
    grid-template-columns: 100%;
    grid-template-areas: "title" "buttons" "imgproject" "descripcion" "typography" "colores" "styletile" "gallery";
    overflow-x: hidden;
    padding: clamp(1.25rem, -0.179rem + 7.143vw, 2.5rem);
    row-gap: clamp(1.563rem, -0.223rem + 8.929vw, 3.125rem);
    align-content: flex-start;
    font-size: clamp(0.75rem, 0.464rem + 1.429vw, 1rem);
  }
  .project__bbracing-webapp {
    background: linear-gradient(to right, #181818, #474747);
  }
  .project__boxedcat {
    background: linear-gradient(to right, #192A3D, #451B15);
  }
  .project__frenetic-comics {
    background: linear-gradient(to right, #0F0F0F 60%, #A3847E 100%);
  }
  .project__sodastereo-fanpage {
    background: linear-gradient(to right, #181818 50%, #656565 100%);
  }
  .project__bbracing-iframe {
    background: linear-gradient(to right, #181818 50%, #656565 100%);
  }
  .project__kz-group {
    background: linear-gradient(to right, #181818 50%, #656565 100%);
  }
}
@media (min-width: 900px) and (max-width: 1320px) and (max-height: 1000px) {
  .project {
    font-size: clamp(0.75rem, 0.536rem + 0.381vw, 0.85rem);
  }
}

.tipografia {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1;
}
.tipografia__bbracing-webapp1 {
  margin-top: 30px;
  font-size: 7em;
  font-weight: 700;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.tipografia__bbracing-webapp2 {
  font-weight: 700;
  font-size: 1.1em;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.tipografia__boxedcat1 {
  margin-top: 30px;
  font-size: 7em;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}
.tipografia__boxedcat2 {
  font-weight: 700;
  font-size: 2.5em;
  font-family: "Roboto", sans-serif;
}
.tipografia__frenetic-comics1 {
  font-size: 7em;
  font-weight: 700;
  font-family: "Rajdhani", sans-serif;
}
.tipografia__frenetic-comics2 {
  font-weight: 700;
  font-size: 2em;
  font-family: "Rajdhani", sans-serif;
  margin-bottom: 30px;
}
.tipografia__kz-group1 {
  margin-top: 30px;
  font-size: 7em;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
.tipografia__kz-group2 {
  font-weight: 700;
  font-size: 1.6em;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 600px) {
  .tipografia > * {
    margin-top: 0;
  }
}

.colores {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 0.85em;
  font-weight: 500;
  gap: 5px;
}
@media (max-width: 600px) {
  .colores {
    font-size: clamp(0.75em, 0.464em + 1.429vw, 1em);
  }
}
.colores::before {
  content: "";
  width: 5em;
  height: 5em;
  border: 0.3px solid #F9F9F9;
}
.colores__bbracing-webapp1::before {
  background-color: #171717;
}
.colores__bbracing-webapp2::before {
  background-color: #2D2D2D;
}
.colores__bbracing-webapp3::before {
  background-color: #3A3A3A;
}
.colores__bbracing-webapp4::before {
  background-color: #525252;
}
.colores__bbracing-webapp5::before {
  background-color: #EDEDED;
}
.colores__bbracing-webapp6::before {
  background-color: #DB2C2C;
}
.colores__boxedcat1::before {
  background-color: #69B9E7;
}
.colores__boxedcat2::before {
  background-color: #14273C;
}
.colores__boxedcat3::before {
  background-color: #F05E4C;
}
.colores__boxedcat4::before {
  background-color: #949494;
}
.colores__boxedcat5::before {
  background-color: #000000;
}
.colores__boxedcat6::before {
  background-color: #FFFFFF;
}
.colores__frenetic-comics1::before {
  background-color: #000000;
}
.colores__frenetic-comics2::before {
  background-color: #FFFFFF;
}
.colores__frenetic-comics3::before {
  background-color: #E3A99E;
}
.colores__kz-group1::before {
  background-color: #EDEDED;
}
.colores__kz-group2::before {
  background-color: #0B0B0B;
}
.colores__kz-group3::before {
  background-color: #F07C00;
}
.colores__kz-group4::before {
  background-color: #C3C3C3;
}
.colores__kz-group5::before {
  background-color: #656565;
}

.styletile {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
.styletile__img {
  width: 8em;
  height: 8em;
  border: 0.3px solid #F9F9F9;
  object-fit: cover;
  cursor: pointer;
}
.styletile__img:hover {
  filter: brightness(90%);
}

.galeria {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  overflow-x: auto;
  width: 100%;
}
.galeria__img {
  width: 8em;
  height: 8em;
  border: 0.3px solid #F9F9F9;
  cursor: pointer;
  object-fit: cover;
  flex-shrink: 0;
  flex-grow: 0;
}
.galeria__img:hover {
  filter: brightness(90%);
}

#popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.97);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#popup.active {
  display: flex;
}

#popup-image {
  max-width: 85%;
  max-height: 90%;
  cursor: pointer;
}
@media (max-width: 600px) {
  #popup-image {
    max-height: 80%;
    max-width: 75%;
  }
}

#popup-image.slide-in-left {
  transform: translateX(-100%);
  opacity: 0;
}

#popup-image.slide-in-right {
  transform: translateX(100%);
  opacity: 0;
}

#popup-image.active {
  transform: translateX(0);
  opacity: 1;
}

.popup-close,
.popup-prev,
.popup-next {
  position: absolute;
  filter: brightness(0) saturate(100%) invert(99%) sepia(98%) saturate(38%) hue-rotate(269deg) brightness(109%) contrast(95%);
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

.popup-close {
  top: 50px;
  right: 30px;
  width: 35px;
}
@media (max-width: 600px) {
  .popup-close {
    top: 30px;
    width: 30px;
  }
}

.popup-prev {
  top: 50%;
  left: 30px;
  padding: 30px 0;
  transform: translateY(-50%) rotate(180deg);
  width: 24px;
}
@media (max-width: 600px) {
  .popup-prev {
    left: 10px;
  }
}

.popup-next {
  top: 50%;
  padding: 30px 0;
  right: 30px;
  transform: translateY(-50%);
  width: 24px;
}
@media (max-width: 600px) {
  .popup-next {
    right: 10px;
  }
}

.contacto {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  overflow-x: hidden;
  position: relative;
  max-height: max-content;
}
.contacto__items {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-width: 900px;
  gap: 15px;
  color: white;
}
.contacto__items__individual {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 30px 0;
  min-height: 200px;
  min-width: 150px;
  background-color: #222;
  border: 1px solid #757575;
  gap: 15px;
}
.contacto__items__individual h2 {
  font-size: 1.2em;
  margin-bottom: 15px;
}
.contacto__items__individual svg {
  height: 35px;
}
.contacto__items__individual p {
  padding: 10px 25px;
}
.contacto__items__individual a {
  text-decoration: none;
  color: #131313;
  height: min-content;
  padding: 10px 25px;
  font-weight: 600;
  background-color: #F9F9F9;
  border: 3px solid #131313;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.contacto__items__individual a svg {
  fill: #333333;
  width: auto;
  height: 1em;
}
.contacto__items__individual a:hover {
  color: #131313;
  background-color: #e0e0e0;
}
@media (min-width: 600px) and (max-width: 750px) {
  .contacto__items {
    font-size: 0.85em;
  }
}
@media (max-width: 600px) {
  .contacto__items {
    flex-wrap: wrap;
    gap: 10px;
  }
  .contacto__items > :first-child, .contacto__items > :nth-child(2) {
    flex: 1 1 20%;
    height: auto;
  }
  .contacto__items > :last-child {
    flex: 1 1 100%;
    height: auto;
    width: 100%;
  }
  .contacto__items__individual {
    min-height: min-content;
  }
  .contacto__items__individual h2 {
    margin-bottom: 0;
  }
}
.contacto__redes {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  width: max-content;
  padding: 0 clamp(0.625rem, -2.232rem + 14.286vw, 3.125rem);
  position: relative;
  z-index: 2;
}
@media (max-width: 600px) {
  .contacto__redes {
    padding: 0 25px;
  }
}
.contacto__redes svg {
  fill: #F9F9F9;
  width: 3.5em;
  height: 3.5em;
}
@media (max-width: 600px) {
  .contacto__redes svg {
    font-size: clamp(0.65rem, 0.479rem + 0.857vw, 0.8rem);
  }
}
.contacto__redes svg:hover {
  filter: brightness(90%);
}
.contacto__redes::before {
  position: absolute;
  border: 0.25px solid #F9F9F9;
  top: 50%;
  content: "";
  width: 1000px;
  z-index: -1;
  /* Asegura que esté detrás del div principal */
}
.contacto__redes::after {
  position: absolute;
  background-color: #131313;
  top: 0;
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;
  /* Asegura que esté detrás del div principal */
}
.contacto__footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.contacto__footer__img {
  width: 5.125em;
  height: auto;
}
.contacto__footer__copyright {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #F9F9F9;
  gap: 5px;
  font-size: 0.9em;
}
@media (max-height: 650px) {
  .contacto {
    justify-content: flex-start;
  }
}
@media (max-width: 600px) {
  .contacto {
    font-size: clamp(0.7rem, 0.471rem + 1.143vw, 0.9rem);
    justify-content: flex-start;
    height: 100%;
  }
}

.fade {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

/*# sourceMappingURL=style.css.map */
